.appHeader {
  background-color: rgb(1, 1, 1, 0.8);
  height: 70px;
  display: flex;
  align-items: center;
  padding: 5px 15px;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  justify-content: space-between;
}

.triviaLogo {
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.score {
  border: 2px solid rgb(1, 167, 243);
  border-radius: 20px;
  color: white;
  padding: 0px 10px;
  height: 60px;
  margin-right: 50px;
  justify-content: center;
  font-family: sans-serif;
  font-size: 23px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.userScore {
  margin-left: 8px;
}

h1 {
  color: white;
  font-size: 50px;
}

.T {
  color: rgb(1, 167, 243);
  font-family: cursive;
}

.rivia {
  font-size: 30px;
  font-family: cursive;
}

.questMark {
  font-family: serif;
  color: rgb(1, 167, 243);
  transform: skewY(10deg);
}

.listItem {
  border: 2px solid rgb(1, 167, 243);
  border-radius: 15px;
  margin: 2% 9%;
  padding: 0px 20px 20px;
}

.question {
  font-weight: bold;
}

.questionList {
  padding-left: 5px;
}

#root {
  font-family: sans-serif;
}

.main {
  margin-top: 100px;
}

.showCorrect {
  margin-bottom: -8px;
}

.answerLabel {
  display: flex;
  height: 20px;
}

.inputDiv {
  display: flex;
  align-items: center;
  height: 20px;
  margin-bottom: 2px;
}

.answerText {
  align-self: center;
  padding-left: 5px;
}

.playAgain {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 40px;
}

.refBtn {
  color: white;
  background-color: #414141;
  height: 40px;
  border-radius: 10px;
  border: 2px solid rgb(1, 167, 243);
  padding: 5px 10px;
}

.loader {
  justify-self: center;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}

.loaderWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 450px) {
  .triviaLogo {
    margin-left: 0px;
  }

  .score {
    height: 50px;
    font-size: 18px;
    margin-left: 10px;
  }
}
